/*body {
    background-color: yellow;
}
*/
h1.titulo {
    color: green;
}

/*li {
    
   list-style: none
}
*/
div p{/*Seleccionar todos los elementos p dentro de un div*/
    background-color: purple;
}

#logo {
    font-size: 60px;
}

ol li:nth-child(odd){
    background-color: red;
   
}
ol li:nth-child(even){
    background-color: yellow;
   
}

ol li:hover {
    background-color: green;
}

ol li:hover(even) {
    background-color: black;
}